body{
    font-family: Georgia;
    color: white;
}
#naglowek,#stopka{
background-color: #824555;
text-align: center;
padding: 20px;
clear: both;
}
#lewy,#srodkowy{
    width: 30%;
    height: 350px;
    float: left;
}
#lewy{
    background-color: #A26475;
}
#srodkowy{
    background-color: #824555;
}
#prawy{
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
    float: left;
}
img{
    float: left;
    width: 50px;
}
table,p,dt{
    margin: 10px;
}
dt{
    padding-top: 20px;
}
td,th{
    border: 3px solid #824555;
    padding: 5px;
}