*{
    font-family: "Century Gothic","Verdena";
}
body{
    background-color: #f0eae2;
}
#naglowek,#stopka{
background-image: url(cegla.jpg);
color: white;
height: 60px;
text-align: center;
clear: both;
}

#nawigacja{
    background-color: #824555;
    width: 80%;
    height: 60px;
    float: left;
}
#boczny{
    width: 20%;
    height: 560px;
    text-align: right;
    overflow: hidden;
    float: right;
}
.obraz{
    width: 100%;
}
#lewa,#srodkowa{
    width: 40%;
    height: 500px;
    overflow: auto;
    float: left
}
h2{
    text-align: center;
}
a{
    color: #f0eae2;
    padding-left: 100px;
    font-size: 180%;
}
a:hover{
    color: white;
}