*{
    font-family: Helvetica;
}
body{
    background-color: #eaeaea;
}
#menu,#stopka{
    background-color: #625b5b;
    color: white;
    padding: 20px;
    text-align: center;
}
img{
    width: 100%;
}
ul{
    margin-left: 40px;
    list-style-type: circle;
}
#menu a{
    font-weight: bold;
    background-color: #eaeaea;
    color: #625b5b;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
}
#menu a:hover{
    background-color: #625b5b;
    color: #eaeaea;
    border: solid 1px #eaeaea;
}
table{
    border: dotted 1px #625b5b;
    width: 60%;
    margin-left: 40px;
    text-align: center;
}
#kontrolki{
    margin: 5px;

}