*{
    font-family: Cambria;
}
body{
    background-color: linen;
}
#boczny,#baner,#stopka{
    background-color: steelblue;
    color: white;
    text-align: center;
}
#boczny{
    width: 25%;
    height: 510px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 4px 4px 5x dimgray;
    float: left;
}
#baner{
    width: 73%;
    height: 80px;
    float: left;
}
#glowny{
    width: 73%;
    height: 400px;
    float: right;
}
button{
    background-color: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
}
button:hover{
    background-color: navy;
}
#pierwszy,#drugi,#trzeci{
    background-color:  lightblue;
    margin-right: 80px;
    padding: 10px;

}
#pierwszy{
    display: block;
}
#drugi{
    display: none;
}
#trzeci{
    display: none;
}
#postep{
    background-color: lightgrey;
    width: 73%;
    margin-bottom: 30px;
    float: right;
}
#pusty{
    background-color: navy;
    width: 4%;
    height: 30px;
}
table{
    width: 100%;
    border: dashed 1px navy;
}
#stopka{
    clear: both;
}