*{
    font-family: Georgia;
    color: white;
}
#baner,#stopka{
    background-color: maroon;
    text-align: center;
    padding: 2px;
    clear: both;
}
#lewy,#srodkowy,#prawy{
    background-color: lightsalmon;
    height: 527px;
    float: left;
}
#lewy,#prawy{
    width: 15%;
}
#srodkowy{
    width: 70%;
}
#miniatur{
    background-color: maroon;
    height: 70px;
    clear: both;
}
button{
    background-color:  lightsalmon;
    color: maroon;
    border-style: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top:210px;
}
#miniatur img{
    height: 70px;
    animation: zmiana 4s forwards;
}
@keyframes zmiana{
    from{
           padding-left: 50px;
    }
    to{
           padding-left: 0px;
    }
}
#srodkowy img{
    display: block;
    margin: auto;
    padding-top: 45px;
}
#srodkowy img:hover{
    animation: skala 5s forwards;
    transform: scale(1.2);
}
@keyframes skala{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}